DJANGO_SECRET_KEY=django-insecure-)mclgk1i#)%iwc^^%nrz19%6hf!_sd_$ouwg)8dka-!*hvngro
DEBUG=True
GOOGLE_API_KEY=AIzaSyDUe7gX9NnF4MCaNfmIiXvxBkaGaMO0ln4
GEMINI_MODEL=gemini-2.0-flash

# Optional DB overrides
DB_NAME=contractintel_db
DB_USER=postgres
DB_PASSWORD=renish17
DB_HOST=localhost
DB_PORT=5432
